* {
  border: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.App {
  position: relative;
  align-items: stretch;
  background: #F5F7FB;
  display: flex;
  width: 100%;
  height: auto;
  min-height: 100vh;
}

.main {
  /* background: #222e3c; */
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 0;
  overflow: hidden;
  transition: margin-left .35s ease-in-out, left .35s ease-in-out, margin-right .35s ease-in-out, right .35s ease-in-out;
  width: 100%;
}

.card-title {
  color: #939ba2;
  font-size: .925rem;
  font-weight: 600;

}
.animate{
  transition: all .5s ease;
}

.cursor-d {
  cursor: default;
}

.bg-indigo-50 {
  background-color: #E8EAF6;
}

.hover:hover {

  background-color: rgba(0, 0, 0, 0.07);
}

.hover {
  border-radius: 15%;
}