* {
  border: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.App {
  position: relative;
  align-items: stretch;
  background: #222e3c;
  display: flex;
  width: 100%;
}

.main {
  background: #F5F7FB;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 0;
  overflow: hidden;
  transition: margin-left .35s ease-in-out, left .35s ease-in-out, margin-right .35s ease-in-out, right .35s ease-in-out;
  width: 100%;
}



.sidebar .sidebar-contenet {
  background: #222e3c;
  transition: margin-left .35s ease-in-out, left .35s ease-in-out, margin-right .35s ease-in-out, right .35s ease-in-out;
}

.sidebar {
  height: 100vh;
  direction: ltr;
  max-width: 260px;
  min-width: 260px;
}

.sidebar-nav {
  flex-grow: 1;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.sidebar-header {
  background: transparent;
  color: #ced4da;
  font-size: .70rem;
  padding: 1.5rem 1.5rem 0.375rem;
}

.sidebar-item.active .sidebar-link:hover,
.sidebar-item.active>.sidebar-link {
  background: linear-gradient(90deg, rgba(59, 125, 221, .1), rgba(59, 125, 221, .088) 50%, transparent);
  border-left-color: #3b7ddd;
  color: #e9ecef;
}

.sidebar-link,
a.sidebar-link {
  background: #222e3c;
  border-left: 3px solid transparent;
  color: rgba(233, 236, 239, .5);
  cursor: pointer;
  display: block;
  font-weight: 400;
  padding: 0.5rem 1.625rem;
  position: relative;
  text-decoration: none;
  transition: background .1s ease-in-out;
}