* {
  border: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.App {
  position: relative;
  align-items: stretch;
  background: #222e3c;
  display: flex;
  width: 100%;
}

.main {
  background: #F5F7FB;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 0;
  overflow: hidden;
  transition: margin-left .35s ease-in-out, left .35s ease-in-out, margin-right .35s ease-in-out, right .35s ease-in-out;
  width: 100%;
}

.card-title{
  color: #939ba2;
  font-size: .925rem;
  font-weight: 600;
  
}
.cursor-d{
  cursor: default;
}